html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8B8B8B;
    background-color: #FAFAFA;
    min-width: 265px;
}
/*minimum možné pro vnitřek 265px, aby se nerozhodila tlačítka*/

p {
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: black;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.obr-cestovatel {
    width: 100%;
    max-width: 425px;
}

.hlavička,
.kancelář {
    margin-bottom: 80px;
}

.tlacitko a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
    border-radius: 25px;
    padding: 10px 30px;
}

.dobrodruzstvi a {
    background-color: #407BFF;
}

.pohoda a {
    background-color: #8B8B8B;
}

.hlavička .text {
    margin: 0 0 30px 0;
}

.rámeček {
    background-color: white;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    font-size: 13px;
}

/*----------------------------------------------
vlastnosti, které se asi budou v průběhu měnit*/
body {
    margin: 0;
    padding: 60px 20px;
    text-align: center;
}

h1 {
    margin: 0 0 40px 0;
}
h2 {
    margin: 0 0 15px 0;
}

.logo {
    margin-bottom: 40px;
}

/*těch 10px nahoře je kvůli tomu, aby něco nezasáhlo do podbarvení tlačítka, kde a href má padding 10px nahoře dole*/
.dobrodruzstvi {
    margin: 10px 0 30px 0;
}
/*pojistka, aby něco nezasáhlo do toho pole tlačítka (a href má padding 10px nahoře dole*/
.pohoda {
    margin: 10px 0 10px 0;
}

/*v tablet a komp verzi bude 40px, pozor že se vztahuje i na text v rámečku s ikonou*/
.část-text .text {
    margin: 0 0 30px 0;
}

.rámeček {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 20px;
}

/*řešit marginem?*/
.ikona {
    margin-right: 20px;
}


@media screen and (min-width: 640px) {
    .logo {
        margin-bottom: 30px;
    }

    .část-text .text {
        margin: 0 0 40px 0;
    }

    .část-text {
        max-width: 550px;
        margin: 0 auto;
    }

    .tlacitka {
        display: flex;
        justify-content: center;
    }

/*bude vyřešeno jinak než marginem?*/
    .dobrodruzstvi {
        margin: 10px 20px 10px 0;
    }

    .část-ikony {
        display: flex;
        justify-content: space-between;
    }

    .rámeček {
        flex: 0 0 calc((100%-40px)/3);
        flex-direction: column;
        margin-bottom: 0;
        margin-right: 20px;
        padding: 40px 15px;
    }

    .ikona {
        margin-right: 0px;
        margin-bottom: 20px;
    }

}


@media screen and (min-width: 1100px) {
    body {
        max-width: 1040px;
        margin: 0 auto;
    }

    
}
